# ==========================================
# 1. Compilação e Artefatos do Backend (Maven/Java)
# ==========================================
api/target/
**/target/
*.class

# Logs
*.log
api/logs/

# ==========================================
# 2. Configurações de IDEs e Editores
# ==========================================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/
*.code-workspace

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ==========================================
# 3. Arquivos do Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ==========================================
# 4. Segredos e Variáveis de Ambiente
# ==========================================
*.env
*.env.local
api/src/main/resources/application-local.properties